:root {
  --font-family: "Roboto", sans-serif;
  --font-main-color: #fff;
  --font-secondary-color: #000;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  background-color: #fec844;
}

body,
h1,
h2 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.shopping-list-container {
  background-color: #289988;
  color: var(--font-main-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
}

.website-title {
  padding: 15px;
  font-size: 1.1rem;
}

.navigation-menu {
  padding: 15px;
  display: flex;
  align-items: center;
}

.menu-item {
  font-size: 0.7rem;
  padding: 0.3rem;
}

.shopping-bar {
  background-color: #43a080;
  padding: 18px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--font-main-color);
}

.icon {
  font-size: 1.2rem;
}

.article-container {
  padding: 18px 15px;
}

.add-article-title {
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  font-size: 0.68rem;
  font-weight: 300;
  cursor: pointer;
}

.form-box {
  width: 10rem;
  height: 1.8rem;
  border: 0;
  margin-right: 0.2rem;
}

.send-form {
  font-family: var(--font-family);
  font-size: 0.6rem;
  font-weight: 300;
  background-color: #43a080;
  color: var(--font-main-color);
  padding: 10px;
  width: 3rem;
  margin-top: 10px;
  border: 0;
  cursor: pointer;
}

.shopping-label-text {
  padding: 10px 0;
}
